

body,
html {
    margin: 0;
    padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: beige
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}

.float-left {
    padding: 20px;
    margin: 10px;
    background-color: lightgray;
}

.pointer {
    cursor: pointer;
}

.header {
    background-image: url('/images/headerbackground.jpg');
    background-position: bottom;
    background-size: contain;
    margin: 0;
    padding: 0;
    height: 200px;
}

.titlehead {
    margin: 0;
    font-size: 12em;
    text-align: center;
    opacity: 0.75;
    color: white;

}

.heart {
    color: red !important;
}

.centerImage{
        margin-left: auto;
        margin-right: auto;
        margin: auto;
        width: 100%;
}