

body,
html {
    margin: 0;
    padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: beige
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}

.float-left {
    padding: 20px;
    margin: 10px;
    background-color: lightgray;
}

.pointer {
    cursor: pointer;
}

.header {
    background-image: url('/images/headerbackground.jpg');
    background-position: bottom;
    background-size: contain;
    margin: 0;
    padding: 0;
    height: 200px;
}

.titlehead {
    margin: 0;
    font-size: 12em;
    text-align: center;
    opacity: 0.75;
    color: white;

}

.heart {
    color: red !important;
}

.centerImage{
        margin-left: auto;
        margin-right: auto;
        margin: auto;
        width: 100%;
}

.navBar {
        background-color: antiquewhite;
        position: fixed;
        top: 0;
        width: 100%;
}

i, div, button:focus {
    outline: 0 !important;
}

.fade.ng-hide {
    transition: 1.0s linear all;
    opacity: 0;
}

.slide.ng-hide {
    transition: 1.0s linear all;
    opacity: 0;
}

.repeated-item.ng-enter,
.repeated-item.ng-move {
    transition: all 0.5s linear;
    opacity: 0;
}

/*
  `.ng-enter-active` and `.ng-move-active` are where the transition destination
  properties are set so that the animation knows what to animate
*/

.repeated-item.ng-enter.ng-enter-active,
.repeated-item.ng-move.ng-move-active {
    opacity: 1;
}

/*
  We are using CSS keyframe animations for when the `leave` event
  is triggered for the element that has the `repeated-item` class
*/

.repeated-item.ng-leave {
    animation: 0.5s my_animation;
}

@keyframes my_animation {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

