

body,
html {
    margin: 0;
    padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: beige
}

.container {
    max-width: 780px;
    margin: 0 auto;
}

.float-left {
    padding: 20px;
    margin: 10px;
    background-color: lightgray;
}