<form ng-submit="vm.addBook(vm.book)">
    <div layout="row" layout-align="center start">
        <md-input-container class="md-block">
            <label>Title</label>
            <input name="titleInput" ng-model="vm.book.title" type="text">
        </md-input-container>
        <md-input-container class="md-block">
            <label>Author</label>
            <input name="authorInput" ng-model="vm.book.author" type="text">
        </md-input-container>
        <md-input-container class="md-block">
            <label>Pages</label>
            <input name="pagesInput" ng-model="vm.book.pages" type="number">
        </md-input-container>
        <md-input-container class="md-block">
            <label>Year</label>
            <input name="yearInput" ng-model="vm.book.year" type="number">
        </md-input-container>
        <md-input-container class="md-block">
            <label>Rating</label>
            <md-select name="ratingInput" ng-model="vm.book.rating">
                <md-option ng-repeat = "rating in vm.ratingList.list" value = "{{rating}}">{{rating}}</md-option>

            </md-select>
        </md-input-container>
        <md-input-container class="md-block">
            <label>Genre</label>
            <md-select name="genreInput" ng-model="vm.book.genre">
                <md-option ng-repeat="genre in vm.genreList.list" value = "{{genre}}">{{genre}}</md-option>
            </md-select>
        </md-input-container>
    </div>
    <div layout="row" layout-align="center start" flex>
        <md-button class="md-raised md-primary"type="submit">Submit</md-button>
    </div>
</form>