<h2>Favorites</h2>
<!-- lays out favorites card style -->
<div class = "container">
    <div flex>
        <div layout = "row" layout-wrap layout-align="center start" flex>
            <div class="md-block float-left md-whiteframe-6dp" flex='20' ng-repeat="book in vm.books.favorites">
                <div>
                    <image class="centerImage" ng-src="{{book.imageurl}}"></image>
                </div>
                <div>{{book.title}}</div>
                <div>By {{book.author}}</div>
                <div>Published {{book.year}}</div>
                <div>{{book.pages}} pages</div>
                <div>{{book.rating}} stars</div>
                <i class="material-icons pointer" ng-click="vm.removeFavorite(book)">clear</i>

            </div>

        </div>
    </div>

</div>