<form ng-submit="vm.addGenre(vm.genre)">
    <div layout="row" layout-align="center start">
        <md-input-container class="md-block">
            <label>Genre</label>
            <input name="genreInput" ng-model="vm.genre.type" type="text">
        </md-input-container>
        <md-button class="md-raised" type="submit">Submit</md-button>
    </div>
</form>

<div class="container">
    <div layout = "row">
        <div class="md-bock" flex>
            Genres
        </div>
        <div class = "md-block" flex>
            Amount
        </div>
        <div class = "md-block" flex>
            Actions
        </div>
    </div>
    <div ng-repeat = "genre in vm.genreList.list" layout = "row" flex>
        <div class = "md-block" flex>
            {{genre.genre}}
        </div>
        <div class = "md-block" flex>
            {{genre.count}}
        </div>
        <div class = "md-block" flex>
            <i class="material-icons pointer" ng-click="vm.deleteGenre(genre)">delete</i>
        </div>
    </div>
</div>