<form ng-submit="vm.addGenre(vm.genre)">
    <!-- input for adding genre -->
    <div layout="row" layout-align="center start">
        <md-input-container class="md-block">
            <label>Genre</label>
            <input name="genreInput" ng-model="vm.genre.type" type="text">
        </md-input-container>
        <md-button class="md-raised" type="submit">Submit</md-button>
    </div>
</form>

<div class="container">
    <!-- headers for genre -->
    <div layout = "row">
        <div class="md-bock" flex>
            Genres
        </div>
        <div class = "md-block" flex>
            Amount
        </div>
        <div class = "md-block" flex>
            Actions
        </div>
    </div>
    <!-- table of genres and count -->
    <div ng-repeat = "genre in vm.genreList.list"flex ng-click="genre.show = !genre.show">
        <div layout = "row">
            <div class="md-block" flex>
                {{genre.genre}}
            </div>
            <div class="md-block" flex>
                {{genre.count}}
            </div>
            <div class="md-block" flex>
                <i class="material-icons pointer" ng-click="vm.deleteGenre(genre)">delete</i>
            </div>
        </div>
        <!-- iterates over the genre and shows the books associated with that genre -->
        <div ng-show="genre.show" class="fade repeated-item" layout = "row" layout-wrap layout-align="center start" flex>
            <div ng-repeat="book in vm.books.list | filter: genre.genre" class="md-block float-left md-whiteframe-6dp" flex='20'>
                <div>
                    <image class="centerImage" ng-src="{{book.imageurl}}"></image>
                </div>
                <div>{{book.title}}</div>
                <div>By {{book.author}}</div>
                <div>Published {{book.year}}</div>
                <div>{{book.pages}} pages</div>
                <div>{{book.rating}} stars</div>
            </div>
        </div>
    </div>
</div>